@{
    ViewBag.Title = "About";
    ViewBag.Message = "Support Listen and Empower";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>SEAL is here to support survivors of sexual violence. We work to compile the neccesary resources to empower survivors to live their best lives. We are here to listen always.</p>
