@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron row" style="position: relative; background-color: transparent;">
    <div class="jumbotron-bg"></div>
    <div class="col-md-6 btn-holder">
        <a href="/Home/SEAL"><img src="~/assets/SEALblugrad.png" alt="seal" class="img-responsive" /></a>
    </div>
    <div class="col-md-6">
        <h1><p class="lead header">✨ ✨ Support Empower and Listen ✨ ✨ </h1>
        <p>This is an LGBTQIA+ safe space! SEAL wants to share they're resources with survivors of sexual assault. Click below to learn more.</p>
        <p>SEAL has something to say, pet them to find out!</p>
        <p>@Html.ActionLink("More About SEAL", "About", "Home", null, new { @class = "btn btn-default btn-lg" })</p>
    </div>
</div>

<div class="tables">
    <div class="row">
        <div class="col-md-12">
            <h2>Hotlines</h2>
            <p>Ready to listen 24/7! There's always someone to talk to that wants to help.</p>
            <p>@Html.ActionLink("Full List", "Index", "Hotline", null, new { @class = "btn btn-default" })</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Support Groups</h2>
            <p>Ready to open up in a group setting? You are not alone! Meet with other survivors in a safe setting.</p>
            <p>@Html.ActionLink("Full List", "Index", "SupportGroup", null, new { @class = "btn btn-default" })</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Medical Facilities</h2>
            <p>We want you happy and healthy! Find an office or clinic in your area that can help with your individual needs.</p>
            <p>@Html.ActionLink("Full List", "Index", "Medical", null, new { @class = "btn btn-default" })</p>
        </div>
    </div>
</div>