
@{
    ViewBag.Title = "SEAL LOVES YOU";
}
<div class="container">
    <div class="col-md-6">
        <h1>✨Hi I'm SEAL!✨</h1>
        <h1>✨I hope this isn't too forward but I love you!✨</h1>
        <h1>✨I think you're doing a great job!✨</h1>
        <h1>✨Now go out there and kick today's ass!✨</h1>
    </div>
    <div class="col-md-6">
        <img src="~/assets/SEALblugrad.png" class="img-responsive"/>
    </div>
</div>